:root {
  --primary: #ffd803;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
  --headline: #272343;
  --buttonText: #272343;
  --paragraphText:#2d334a;
  --background: #fffffe;
  --borderRadius: 4px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px;
  background-color: var(--background);
}

h1 {
  color: var(--headline);
}

form {
  display: flex;
  align-items: center;
  gap: 2%;
}

input {
  font-size: 16px;
  line-height: 20px;
  height: 32px;
  color: var(--paragraphText);
  padding-inline-start: 8px;
  border-radius: var(--borderRadius);
  border: 2px solid var(--secondary);
  outline-color: var(--primary);
}

button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: var(--borderRadius);
  background-color: var(--primary);
  color: var(--buttonText);
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 2px dotted var(--buttonText);
}

button:hover {
  filter: brightness(90%);
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  margin-block-start: 30px;
}

li {
  color: var(--paragraphText);
  padding: 8px 10px;
  background-color: var(--secondary);
  border-radius: var(--borderRadius);
  text-transform: capitalize;
  border-inline-start: 4px solid var(--tertiary);
}

li:not(:last-child) {
  margin-block-end: 10px;
}